opencv-python
matplotlib
tensorflow
keras
numpy 
pandas
Pillow
mtcnn
ipykernel
keras-facenet
spicy
scikit-learn
dill==0.3.5.1
from-root==1.0.2
gdown
flask-cors
flask
psutil
PyYAML
requests
scipy
thop
torch
torchvision
tqdm
ultralytics
seaborn
setuptools
Gunicorn
-e .
